runtime: python
env: flex

runtime_config:
  operating_system: "ubuntu22"
  python_version: "3.11"

entrypoint: streamlit run app.py --server.port $PORT

env_variables:
  GCS_BUCKET_NAME: "YOUR_GCS_BUCKET_NAME"
